/Colecciones3/nbproject/private/
/Colecciones3/build/
/Colecciones4/nbproject/private/
/Colecciones4/build/
/Colecciones5/nbproject/private/
/Colecciones5/build/
/Colecciones6/nbproject/private/
/Colecciones6/build/