/Colecciones3/nbproject/private/
/Colecciones3/build/
/Colecciones4/nbproject/private/
/Colecciones4/build/
/Colecciones5/nbproject/private/
/Colecciones5/build/
/Colecciones6/nbproject/private/
/Colecciones6/build/
/ExCollec1/nbproject/private/
/ExCollec1/build/
/ExCollec2/nbproject/private/
/ExCollec2/build/
/ExCollec3/nbproject/private/
/ExCollec3/build/
/ExCollec4/nbproject/private/
/ExCollec4/build/
/MAOrelaciones/nbproject/private/
/MAOrelaciones/build/
/MAO2relaciones/nbproject/private/
/MAO2relaciones/build/
/Rela1/nbproject/private/
/Rela1/build/
/Rela2/nbproject/private/
/Rela2/build/
/Rela3/nbproject/private/
/Rela3/build/
/Rela1ex/nbproject/private/
/Relaex2/nbproject/private/
/Relaex2/build/
/Relaex3/nbproject/private/
/Relaex4/nbproject/private/
/Relaex4/build/
/EjercicioAnimal/nbproject/private/
/EjercicioAnimal/build/